@import "../../scss/variables";

.row {
  margin: $gridMarginMedium (-$gridMarginExtraSmall);

  @media (max-width: $screenXsMax) {
    flex-wrap: wrap;
  }

  @media (min-width: $screenMd) {
    margin: $gridMarginLarge (-$gridMarginExtraSmall);
  }
}