@import '../../../scss/variables';
@import "../../../scss/mixins";

@include gradientAnimation;

.wrapper {
  margin: $flexibleContentVerticalMargin 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease-in-out infinite;
  }
}

.title {
  text-align: center;
}

.text-white {
  // color: #fff;
}

.background-default:before {
  background: $themeGradient;
  background-size: 600% 600%;
}

.background-light-blue:before {
  background: $themeGradientLightBlue;
  background-size: 600% 600%;
}

.background-blue:before {
  background: $themeGradientBlue;
  background-size: 600% 600%;
}

.background-red:before {
  background: $themeGradientRed;
  background-size: 600% 600%;
}

.background-lilac:before {
  background: $themeGradientLilac;
  background-size: 600% 600%;
}

.background-green:before {
  background: $themeGradientGreen;
  background-size: 600% 600%;
}

.contentPadding {
  padding: $flexibleContentVerticalMargin;
}