@import '../../scss/variables';

.button {
  padding: 20px 60px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  background-color: $blue;
  color: #fff;
}
