@import "../../scss/variables";

.hero {
  display: flex;
  position: relative;
  height: calc(100vh - 225px);
  justify-content: center;
  align-items: center;
  margin-bottom: $gridMarginLarge;

  @media (max-width: $screenXsMax) {
    padding-left: $gridMarginSmall;
    padding-right: $gridMarginSmall;
  }

  @media (min-width: $screenMd) {
    min-height: 500px;
  }
}

.small {
  @media (min-width: $screenMd) {
    height: calc(100vh - 343px);
  }
}

.medium {
  @media (min-width: $screenMd) {
    height: calc(100vh - 500px);
  }
}

.background {
  position: absolute !important;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 30px 20px;
  background-color: #fff;

  @media (min-width: $screenMd) {
    padding: 40px 100px;
  }
}

.title {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: 0;
  font-weight: normal;
}

.subtitle {
  position: relative;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
}

.cta {
  margin-top: 30px;
}

