@import "../../scss/variables";

.hero {
  display: flex;
  position: relative;
  min-height: calc(100vh - 254px);
  justify-content: center;
  align-items: center;
  margin-bottom: $gridMarginLarge;
}

.small {
  min-height: calc(100vh - 343px);
}

.background {
  position: absolute !important;
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 40px 100px;
  background-color: #fff;
}

.title {
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: 0;
  font-weight: normal;
}

.subtitle {
  position: relative;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
}

.cta {
  margin-top: 30px;
}

