@import "../../scss/variables";
@import "../../scss/mixins";
@include gradientAnimation;

$borderMargin: $postListItemborderMargin;
$borderWidth: $postListItemborderWidth;
$contentGridMargin: $gridMarginMedium / 2;
$contentMargin: $gridMarginMedium;

.row {
  margin-bottom: $gridMarginMedium;

  @media (max-width: $screenXsMax) {
    flex-wrap: wrap;
  }

  @media (min-width: $screenMd) {
    margin-bottom: $gridMarginLarge;
  }
}

.thumbnail-container {
  flex: 1;

  @media (max-width: $screenXsMax) {
    flex: 0 0 100%; /* fg: 0, fs: 0, fb: 100% */
  }
}

.thumbnail-container-is-right {
  @media (min-width: $screenMd) {
    order: 2;
  }
}

.thumbnail {
  padding-top: $gridMarginSmall;
  position: relative;

  @media (min-width: $screenMd) {
    padding: $borderMargin;
    min-width: 480px;
    padding: 0 0 $borderMargin $borderMargin;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;  
  }

  &:before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $themeGradient;
    background-size: 600% 600%;
    animation: gradientAnimation 3s ease-in-out infinite;

    @media (min-width: $screenMd) {
      right: $borderMargin;
      top: $borderMargin;
    }
  }

  &:after {
    display: none;
    @media (min-width: $screenMd) {
      display: block;
      left: $borderWidth;
      right: $borderWidth;
      top: $borderWidth;
      bottom: $borderWidth;
      background-color: #fff;
      z-index: 1;
      right: ($borderMargin + $borderWidth);
      top: ($borderMargin + $borderWidth);
    }
  }
}

.theme-light-blue:before {
  background: $themeGradientLightBlue;
  background-size: 600% 600%;
}

.theme-blue:before {
  background: $themeGradientBlue;
  background-size: 600% 600%;
}

.theme-red:before {
  background: $themeGradientRed;
  background-size: 600% 600%;
}

.theme-lilac:before {
  background: $themeGradientLilac;
  background-size: 600% 600%;
}

.theme-green:before {
  background: $themeGradientGreen;
  background-size: 600% 600%;
}

.thumbnail-is-right {
  @media (min-width: $screenMd) {
    padding-right: $borderMargin;
    padding-left: 0;
  }

  &:before {
    @media (min-width: $screenMd) {
      right:  0;
      left: $borderMargin;
    }
  }

  &:after {
    @media (min-width: $screenMd) {
      left: ($borderMargin + $borderWidth);
      right: $borderWidth;
    }
  }
}

.image {
  position: relative;
  z-index: 2;
}

.content-col {
  flex: 2;
  position: relative;
  z-index: 3;

  @media (min-width: $screenMd) {
    padding-top: $gridMarginLarge;
  }
}

.title-container {
  position: relative;
  margin-bottom: $contentMargin;
  display: none;

  @media (min-width: $screenMd) {
    display: block;
    left: -$gridMarginMedium * 4;
  }
}

.title-container-mobile {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  padding: $gridMarginSmall;

  @media (min-width: $screenMd) {
    display: none;
  }
}

.title-is-left {
  left: auto;
  right: -$gridMarginMedium * 4;
}

.title {
  margin-bottom: 0;
  
  @media (max-width: $screenXsMax) {
    letter-spacing: 0px;
  }
}

.category {
  font-family: $fontSerif;
  text-transform: uppercase;
  font-weight: bold;
}

.content {
  background-color: $greyLight;
  padding: $gridMarginSmall * 2;

  @media (min-width: $screenMd) {
    padding: $contentMargin;
  }
}

.content-is-left {
  text-align: right;
}

.category-link {
  position: relative;
  padding-bottom: 2px;
  color: $lightBlue;
  border-bottom: 2px solid $lightBlue;
}

.theme-category-light-blue {
  color: $lightBlue;
}

.theme-category-blue {
  color: $blue;
  border-bottom-color: $blue;
}

.theme-category-red {
  color: $red;
  border-bottom-color: $red;
}

.theme-category-lilac {
  color: $lilac;
  border-bottom-color: $lilac;
}

.theme-category-green {
  color: $green;
  border-bottom-color: $green;
}

