@import "../../scss/variables";
@import "../../scss/mixins";
@include gradientAnimation;

$borderMargin: 30px;
$borderWidth: 10px;
$contentGridMargin: $gridMarginMedium / 2;
$contentMargin: $gridMarginMedium;

.row {
  margin-bottom: $gridMarginLarge;
}

.thumbnail-container {
  flex: 1;
}

.thumbnail-container-is-odd {
  order: 2;
}

.thumbnail {
  padding: 0 0 $borderMargin $borderMargin;
  position: relative;
  min-width: 480px;

  &:before,
  &:after {
    content: '';
    position: absolute;  
  }

  &:before {
    left: 0;
    right: $borderMargin;
    top: $borderMargin;
    bottom: 0;
    background: $themeGradient;
    background-size: 600% 600%;
    animation: gradientAnimation 3s ease-in-out infinite;
  }

  &:after {
    left: 10px;
    right: ($borderMargin + $borderWidth);
    top: ($borderMargin + $borderWidth);
    bottom: $borderWidth;
    background-color: #fff;
    z-index: 1;
  }
}

.theme-light-blue:before {
  background: $themeGradientLightBlue;
  background-size: 600% 600%;
}

.theme-blue:before {
  background: $themeGradientBlue;
  background-size: 600% 600%;
}

.theme-red:before {
  background: $themeGradientRed;
  background-size: 600% 600%;
}

.theme-lilac:before {
  background: $themeGradientLilac;
  background-size: 600% 600%;
}

.theme-green:before {
  background: $themeGradientGreen;
  background-size: 600% 600%;
}

.thumbnail-is-odd {
  padding-right: $borderMargin;
  padding-left: 0;

  &:before {
    right:  0;
    left: $borderMargin;
  }

  &:after {
    left: ($borderMargin + $borderWidth);
    right: $borderWidth;
  }
}

.image {
  position: relative;
  z-index: 2;
}

.content-col {
  flex: 2;
  padding-top: $gridMarginLarge;
  position: relative;
  z-index: 3;
}

.title-container {
  position: relative;
  left: -$gridMarginMedium * 4;
  margin-bottom: $contentMargin;
}

.title-is-odd {
  left: auto;
  right: -$gridMarginMedium * 4;
}

.title {
  margin-bottom: 0;
}

.category {
  font-family: $fontSerif;
  text-transform: uppercase;
  font-weight: bold;
}

.content {
  background-color: $greyLight;
  padding: $contentMargin;
}

.contentl-is-odd {
  text-align: right;
}

.category-link {
  position: relative;
  padding-bottom: 2px;
  color: $lightBlue;
  border-bottom: 2px solid $lightBlue;
}

.theme-category-light-blue {
  color: $lightBlue;
}

.theme-category-blue {
  color: $blue;
  border-bottom-color: $blue;
}

.theme-category-red {
  color: $red;
  border-bottom-color: $red;
}

.theme-category-lilac {
  color: $lilac;
  border-bottom-color: $lilac;
}

.theme-category-green {
  color: $green;
  border-bottom-color: $green;
}

