@import "../../scss/variables";

.thumbnailContainer {
    padding: 0 $gridMarginCategoryThumbnail;
    flex: 1;
    display: flex;
}

.thumbnail {
    position: relative;
    display: block;
    width: 100%;
    padding: $gridMarginLarge $gridMarginMedium;
    color: #000;
}

.background {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.content {
    padding: 2rem 0;
    text-align: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: normal;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 2px;
}