@import "../../scss/variables";

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 $gridMarginSmall;

  @media (min-width: $screenMd) {
    padding-left: $gridMarginMedium;
    padding-right: $gridMarginMedium;
  }

  @media (min-width: $screenLg) {
    padding-left: $gridMarginLarge;
    padding-right: $gridMarginLarge;
  }
}

.thin {
  max-width: 1000px;
}

.medium {
  max-width: 1440px;
}
