@import "../../scss/variables";

.hero {
  position: relative;
  padding: $gridMarginSmall 0 $gridMarginExtraLarge 30%;
}

.content {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(-30%, 10%);

  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 40%;
    bottom: -20px;
    height: $borderWidthLarge;
    background-color: #000;
  }
}

.subtitle {
  font-weight: normal;
  font-size: 4rem;
  margin-bottom: 0;
  font-family: $fontSerif;
  text-transform: uppercase;
}

.title {
  font-size: 7rem;
  margin-bottom: 0;
}