@import "../../scss/variables";
@import "../../scss/mixins";

@include gradientAnimation;

$burgerBorder: 1px;
$burgerBarPosition: -7px;

.header {
  position: relative;
  padding-top: 0.8rem;
}

.headerBackground {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease-in-out infinite;
  }
}

.backgroundWrap {
  &:before {
    bottom: 0;
  }
}

.headerInner {
  padding: $headerMargin 0;
}

.menu {
  @media (max-width: $screenXsMax) {
    display: none;
  }
}

.menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $screenMd) {
    display: none;
  }
}

.large {
  padding-top: $headerMargin;
  padding-bottom: $headerMargin;

  @media (min-width: $screenMd) {
    padding-top: $headerMarginLg;
    padding-bottom: $headerMarginLg;
  }
}

.strapline {
  font-family: $fontSerif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}

.theme-default:before {
  background: $themeGradient;
  background-size: 600% 600%;
}

.theme-light-blue:before {
  background: $themeGradientLightBlue;
  background-size: 600% 600%;
}

.theme-blue:before {
  background: $themeGradientBlue;
  background-size: 600% 600%;
}

.theme-red:before {
  background: $themeGradientRed;
  background-size: 600% 600%;
}

.theme-lilac:before {
  background: $themeGradientLilac;
  background-size: 600% 600%;
}

.theme-green:before {
  background: $themeGradientGreen;
  background-size: 600% 600%;
}


.burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 15px;
  cursor: pointer;
  text-decoration: none;
}

.burger-icon {
  position: relative;
  display: inline-block;
  width: 100%;
  height: $burgerBorder;
  background: #fff;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-indent: -9999px;
  vertical-align: middle;

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: $burgerBorder;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }

  &:before {
    top: $burgerBarPosition;
  }

  &:after {
    bottom: $burgerBarPosition;
  }
}

.burger-title {
  color: #fff;
  margin-right: 10px;
  letter-spacing: 4px;
}