@import "../../scss/variables";
@import "../../scss/mixins";

@include gradientAnimation;

.header {
  position: relative;
  padding-top: 0.8rem;
}

.headerBackground {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: $themeGradient;
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease-in-out infinite;
  }
}

.backgroundWrap {
  &:before {
    bottom: 0;
  }
}

.headerInner {
  padding: $headerMargin 0;
}

.large {
  padding-top: $headerMarginLg;
  padding-bottom: $headerMarginLg;
}

.strapline {
  font-family: $fontSerif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0;
}