@import "../../scss/mixins";
@include gradientAnimation;
@import "../../scss/variables";

.row {
  padding: $postListItemborderMargin;
  margin-bottom: $gridMarginLarge;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;  
  }

  &:before {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $themeGradient;
    background-size: 600% 600%;
    animation: gradientAnimation 5s ease-in-out infinite;
  }

  &:after {
    left: $postListItemborderWidth;
    right: $postListItemborderWidth;
    top: $postListItemborderWidth;
    bottom: $postListItemborderWidth;
    background-color: #fff;
    z-index: 1;
  }
}


.theme-light-blue:before {
  background: $themeGradientLightBlue;
  background-size: 600% 600%;
}

.theme-blue:before {
  background: $themeGradientBlue;
  background-size: 600% 600%;
}

.theme-red:before {
  background: $themeGradientRed;
  background-size: 600% 600%;
}

.theme-lilac:before {
  background: $themeGradientLilac;
  background-size: 600% 600%;
}

.theme-green:before {
  background: $themeGradientGreen;
  background-size: 600% 600%;
}

.content-container {
  position: relative;
  padding: $gridMarginLarge;
  z-index: 2;
}

.background {
  position: absolute !important;
  left: 0;
  right: 0; 
  bottom: 0; 
  top: 0;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  margin: 0 auto;
  background-color: #fff;
  max-width: 60%;
  text-align: center;
  padding: $gridMarginMedium;
}

.category {
  font-family: $fontSerif;
  text-transform: uppercase;
  font-weight: bold;
}

.category-link {
  position: relative;
  padding-bottom: 2px;
  color: $lightBlue;
  border-bottom: 2px solid $lightBlue;
}

.theme-category-light-blue {
  color: $lightBlue;
}

.theme-category-blue {
  color: $blue;
  border-bottom-color: $blue;
}

.theme-category-red {
  color: $red;
  border-bottom-color: $red;
}

.theme-category-lilac {
  color: $lilac;
  border-bottom-color: $lilac;
}

.theme-category-green {
  color: $green;
  border-bottom-color: $green;
}

