@import "../../scss/variables";

.item {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.primary, 
.secondary {
  text-transform: uppercase;
  margin: 0 15px;
  font-size: 14px;
  letter-spacing: 4px;

  & > a {
    color: #fff;
  }
}

.secondary {

}

.footer {
  & > a {
    color: $textColor;
  }
}
