@import "../../scss/variables";

.item {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.primary, 
.secondary {
  text-transform: uppercase;
  margin: 0 15px;
  font-size: 14px;
  letter-spacing: 4px;

  & > a {
    color: #fff;
  }
}

.mobile {
  letter-spacing: 2px;
  text-transform: uppercase;

  & > a {
    padding: 10px 0;
    color: #000;
    display: block;
  }
}

.footer {
  & > a {
    color: $textColor;
  }
}
