@import "../../scss/variables";
@import "../../scss/mixins";

@include gradientAnimation;

.footer {
  padding: $gridMarginLarge 0;
  margin-top: $gridMarginMedium;
  margin-bottom: $borderWidthLarge;
  background: $greyLight;
  position: relative;

  @media (min-width: $screenMd) {
    margin-top: $gridMarginLarge;
  }

  &:after {
    content: '';
    height: $borderWidthLarge;
    bottom: -$borderWidthLarge;
    right: 0;
    left: 0;
    position: absolute;
    animation: gradientAnimation 5s ease-in-out infinite;
  }
}

.theme-default:after {
  background: $themeGradient;
  background-size: 600% 600%;
}

.theme-light-blue:after {
  background: $themeGradientLightBlue;
  background-size: 600% 600%;
}

.theme-blue:after {
  background: $themeGradientBlue;
  background-size: 600% 600%;
}

.theme-red:after {
  background: $themeGradientRed;
  background-size: 600% 600%;
}

.theme-lilac:after {
  background: $themeGradientLilac;
  background-size: 600% 600%;
}

.theme-green:after {
  background: $themeGradientGreen;
  background-size: 600% 600%;
}

.col {
  flex: 1;
}

.title {
  margin-bottom: $gridMarginSmall;
  
  & > a {
    color: $titleColor;
  }
}

.copyright {
  margin-top: $gridMarginMedium;
  color:darken($greyLight, 10%);
  font-size: 12px;
}

.botanyblend {
  margin-top: $gridMarginMedium;
}