@import "../../scss/variables";

.tray {
  display: block!important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 99999;
  transform: translate(-100%);
  transition-delay: .5s;
}

.tray-is-active {
  transform: translate(0);
  transition-delay: 0s;
}

.tray-underlay {
  position: absolute;
  opacity: 0;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  transition: opacity .5s ease-in-out;
}

.tray-underlay-is-active {
  opacity: .8;
  transition-delay: .2s;
}

.tray-container {
  height: 100%;
  width: 80%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  transform: translate(-100%);
  transition: transform .5s ease-in-out;
  padding: $gridMarginMedium;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tray-container-is-active {
  transform: translate(0%);
}

.close {
  position: absolute;
  padding: 0;
  bottom: 10px;
  right: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}