// Primary Brand Colours
$blue: #97c1ce;
$green: #cccc97;
$red: #cc978e;
$lilac: #cddad2;

// Secondary Brand Colours
$lightBlue: #d5dfe5;
$darkBlue: #4a6373;

$greyLight: #f7f7f7;

$titleColor: #000;
$textColor: lighten($titleColor, 5%);

$gridMarginExtraLarge: 9rem;
$gridMarginLarge: 6rem;
$gridMarginMedium: 3rem;
$gridMarginSmall: 1rem;
$gridMarginExtraSmall: 0.3rem;

$borderWidthLarge: 0.6rem;
$headerMargin: 5rem;
$headerMarginLg: $gridMarginExtraLarge;

$themeGradient: linear-gradient(-50deg, $green, $lightBlue, lighten($blue, 3%), $lilac);
$themeGradientBlue: linear-gradient(-45deg, lighten($blue, 40%), $blue, lighten($blue, 40%));
$themeGradientLightBlue: linear-gradient(-45deg, $lightBlue, darken($lightBlue, 50%), $lightBlue);
$themeGradientRed: linear-gradient(-45deg, $red, lighten($red, 50%), $red);
$themeGradientLilac: linear-gradient(-45deg, lighten($lilac, 5%), darken($lilac, 5%), lighten($lilac, 5%));
$themeGradientGreen: linear-gradient(-45deg, $green, lighten($green, 20%), $green);
$themeGradientGrey: linear-gradient(-12deg, darken($greyLight, 3%), lighten($greyLight, 1%));

$fontSerif: 'Open Sans', serif;
$fontSansSerif:  "Lora", "Georgia", "Montserrat", "Helvetica Neue", "sans-serif";